@charset 'UFT-8';
.img {
  &-box {
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }
}

.paper {
  box-shadow: 0 0 10px #DDD;
  &-round {
    border-radius: 5px;
  }
}
